[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
passlib = "*"
flask-script = "*"
"psycopg2" = "*"
flask-admin = "*"
flask-login = "*"
flask-wtf = "*"
flask-bootstrap = "*"
wtforms = "*"
requests = "*"
gunicorn = "*"
celery = "*"
faker = "*"
redis = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
