-i https://pypi.org/simple
aiohttp==3.7.3; python_version >= '3.6'
alembic==1.4.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
amqp==5.0.2; python_version >= '3.6'
async-timeout==3.0.1; python_full_version >= '3.5.3'
attrs==20.3.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
billiard==3.6.3.0
blinker==1.4
celery==5.0.2; python_version >= '3.6'
certifi==2020.11.8
chardet==3.0.4
click==7.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
click-didyoumean==0.0.3
click-repl==0.1.6
dateparser==1.0.0; python_version >= '3.5'
dnspython==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
dominate==2.6.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
eventlet==0.29.1
exceptiongroup==1.2.2; python_version < '3.11'
faker==4.18.0; python_version >= '3.5'
flask==1.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
flask-admin==1.5.7
flask-bootstrap==3.3.7.1
flask-login==0.5.0
flask-mail==0.9.1
flask-marshmallow==0.14.0
flask-migrate==2.5.3
flask-script==2.0.6
flask-sqlalchemy==2.4.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
flask-wtf==0.14.3
gevent==21.12.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
greenlet==1.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
gunicorn==23.0.0; python_version >= '3.7'
humanize==3.1.0; python_version >= '3.6'
idna==2.10; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
iniconfig==1.1.1
itsdangerous==1.1.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
jinja2==2.11.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
kombu==5.0.2; python_version >= '3.6'
mako==1.1.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
markupsafe==1.1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
marshmallow==3.9.1; python_version >= '3.5'
marshmallow-sqlalchemy==0.24.1; python_version >= '3.6'
maya==0.6.1
multidict==5.0.2; python_version >= '3.5'
packaging==21.0; python_version >= '3.6'
passlib==1.7.4
pendulum==2.1.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
pluggy==0.13.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
prompt-toolkit==3.0.8; python_full_version >= '3.6.1'
psycopg2==2.8.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
py==1.9.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytest==7.4.4; python_version >= '3.7'
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-editor==1.0.4
python-http-client==3.3.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2020.4
pytzdata==2020.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
redis==3.5.3; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
regex==2020.11.13
requests==2.25.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
sendgrid==6.4.8; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
sentry-sdk[flask]==1.9.0
setuptools==75.6.0; python_version >= '3.9'
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
snaptime==0.2.4
sqlalchemy==1.4.54; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
starkbank-ecdsa==1.1.0
text-unidecode==1.3
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.1.0; python_version < '3.11'
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
vine==5.0.0; python_version >= '3.6'
visitor==0.1.3
wcwidth==0.2.5
werkzeug==1.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
wtforms==2.3.3
yarl==1.6.3; python_version >= '3.6'
zope.event==4.5.0
zope.interface==5.2.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
