{% extends 'base.html' %}
<!doctype html>
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <style>
    body{
      font-family: 'Roboto Mono', monospace;
    }
    </style>
    <title>SECret m-fking Santa</title>
  </head>
  <body>
    <br/><br/>

  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <br/><br/>
          <img src="https://media.giphy.com/media/3ohc1a2WeCPvwuQGAw/giphy.gif"/>
        </div>
        <div class="col-lg-6 offset-sm-4">
          <br/><br/>
          <br/><br/>
          <br/><br/>
            <form method="POST" action="/change_password">
              <div class="form-group">
                {{ form.hidden_tag() }}
                <h2><strong>Current password</strong></h2>
                {{ wtf.form_field(form.current_password) }}
                <h2><strong>New password</strong></h2>
                {{ wtf.form_field(form.new_password) }}
                <h2><strong>New password (again)</strong></h2>
                {{ wtf.form_field(form.new_password_again) }}
              <button id="pass_submit" type="submit" class="btn btn-primary">Change my password</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
      let new_password = document.querySelector("#new_password");
      let new_password_again = document.querySelector("#new_password_again");
      let button = document.querySelector("#pass_submit");

      new_password.addEventListener("change", function(e){
        if(e.target.value == new_password_again.value){
          button.disabled = false;
        } else{
          button.disabled = true;
        }
      });

      new_password_again.addEventListener("change", function(e){
        if(e.target.value == new_password.value){
          button.disabled = false;
        } else{
          button.disabled = true;
        }
      });

    </script>
  </body>
</html>
