
{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
  {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-2">
          <br/><br/>
          <img src="https://api.adorable.io/avatars/285/{{ current_user.email }}"/>
        </div>
        <div class="col-sm-2 offset-md-3">
          <br/><br/>
            <form method="POST" action="/edit_profile">
              {{ form.hidden_tag() }}
              <p>{{ wtf.form_field(form.hint) }}</p>
              <p>{{ wtf.form_field(form.address) }}</p>
              <button type="submit" class="santa-button">Save</button>
            </form>
        </div>
    </div>
    </div>
    <script>
      var hint = `{{ current_user.hint|safe }}`;
      var address = `{{ current_user.address|safe }}`;
      document.querySelector("#hint").value = hint;
      document.querySelector("#address").value = address;
    </script>
  {% endblock %}