{% extends 'base.html' %}
  {% block content %}
    {% import "bootstrap/wtf.html" as wtf %}
    <div class="container">
        <br/><br/>
        <h1>
          <strong>{{ group.name }}</strong>
        </h1>
        <br/><br/>
        <a data-toggle="modal" data-target="#createGroup"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg></a>
          <br/><br/>
      <div class="row">

          <br/><br/>
        {% for i in group.users %}
        <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/dzmp7xptn/image/upload/v1566878823/trexbat_tcsvbd.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ i.user.username }}</h5>
            <p class="card-text">hey hey ho ho.</p>
          <a href="#" class="btn btn-danger">Kick</a>
          </div>
        </div>
        <br/><br/>
        </div>
        {% endfor %}

    <div class="modal fade" id="inviteUserToGroup" tabindex="-1" role="dialog" aria-labelledby="inviteUserToGroupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inviteUserToGroupLabel">Create new group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <form method="POST" action="/groups">
          <div class="modal-body">
              <div class="form-group">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email) }}
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>
  {% endblock %}