{% extends 'base.html' %}
  {% block content %}
    {% import "bootstrap/wtf.html" as wtf %}
    <div class="container">
        <br/><br/>
        <h1>
          <strong>{{ group.name }}</strong>
        </h1>
        {% if message %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
          </div>
        {% endif %}
        <br/><br/>

        {% if group.is_admin(current_user) %}
        <div style="display: flex;">
          <a data-toggle="modal" data-target="#inviteUserToGroup"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zM13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
          </svg></a>
            <br/><br/>

          <a>
            <svg style="margin-left: 15px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </a>

          <a>
            <svg  data-toggle="modal" data-target="#CreatePairs" style="margin-left: 15px;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-diagram-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M6 3.5A1.5 1.5 0 0 1 7.5 2h1A1.5 1.5 0 0 1 10 3.5v1A1.5 1.5 0 0 1 8.5 6v1H11a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-1 0V8h-5v.5a.5.5 0 0 1-1 0v-1A.5.5 0 0 1 5 7h2.5V6A1.5 1.5 0 0 1 6 4.5v-1zM8.5 5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1zM3 11.5A1.5 1.5 0 0 1 4.5 10h1A1.5 1.5 0 0 1 7 11.5v1A1.5 1.5 0 0 1 5.5 14h-1A1.5 1.5 0 0 1 3 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm4.5.5a1.5 1.5 0 0 1 1.5-1.5h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1A1.5 1.5 0 0 1 9 12.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
            </svg>
          </a>
        </div>
      {% endif %}
      <div class="row">

          <br/><br/>
        {% for i in group.users %}
        <div class="col-sm">
        <div class="santa-card card" style="width: 18rem;">
          <img class="card-img-top" src="https://res.cloudinary.com/dzmp7xptn/image/upload/v1566878823/trexbat_tcsvbd.png" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ i.user.username }}</h5>
            <p class="card-text">hey hey ho ho.</p>
          <button class="santa-button" >Kick</button>
          </div>
        </div>
        <br/><br/>
        </div>
        {% endfor %}

    <div class="modal fade" id="inviteUserToGroup" tabindex="-1" role="dialog" aria-labelledby="inviteUserToGroupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="inviteUserToGroupLabel">Invite user to {{ group.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <form method="POST" action="/groups?group_id={{ group.id }}">
          <div class="modal-body">
              <div class="form-group">
                {{ invite_user_to_group_form.hidden_tag() }}
                {{ wtf.form_field(invite_user_to_group_form.email) }}
              </div>
          </div>

            <p style="margin-left: 10px; font-size: x-small;">If the user doesn't have an account they will get an email invite</p>
          <div class="modal-footer">
                {{ invite_user_to_group_form.submit_invite_form(class_="santa-button") }}
          </div>
          </form>
        </div>
      </div>
    </div>

     <div class="modal fade" id="CreatePairs" tabindex="-1" role="dialog" aria-labelledby="inviteUserToGroupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="CreatePairsLabel">Create secret santa pairs for {{ group.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <form method="POST" action="/groups?group_id={{ group.id }}">
          <div class="modal-body">
              <div class="form-group">
                {{ create_pairs_form.hidden_tag() }}
                {{ wtf.form_field(create_pairs_form.confirmation) }}
              </div>
          </div>

          <div class="modal-footer">
                {{ create_pairs_form.submit_create_pairs_form(class_="santa-button", id="create_pair_button", disabled="true") }}
          </div>
          </form>
        </div>
      </div>
    </div>   


  </div>
</div>

<script>

  let create_pair_button = document.querySelector("#create_pair_button");
  let create_pair_modal = document.querySelector("#CreatePairs");
  let create_pair_form = create_pair_modal.querySelector("form");

  create_pair_form
  .querySelector("textarea")
  .addEventListener("change", function(e){
    if(e.target.value === "yes"){
      create_pair_button.disabled = false;
    }else{
      create_pair_button.disabled = true;
    }
  });

</script>
  {% endblock %}