<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
      <style>
      iframe{
        width: 1250px;
        height: 500px;
      }
      </style>
    <title>SECret m-fking Santa</title>
  </head>
  <style>
  body{
    font-family: 'Roboto Mono', monospace;
  }
  </style>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">

          <br/></br>
          <a href="/login">Sign me the fuck in (already have an account)</a>
          <br/></br>
          <h1>Register for SECret Santa</h1>
          {% if message %}
            <div class="alert alert-danger" style="opacity:0.8;">
              {{ message }}
            </div>
          {% endif %}
          <form method="post" action="/register">
            <label for="first_name">First Name : </label>
            <input type="text" name="first_name" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Stupid">
            <br/>
            <label for="last_name">Last Name : </label>
            <input type="text" name="last_name" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Alex">
            <br/>
            <label for="email">Email : </label>
            <input type="text" name="email" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="stupidalex@plattsburgh.edu">
            <br/>
            <label for="hint">Hint : </label>
            <textarea placeholder="Hint for your SECret Santa" name="hint"></textarea>
            <br/><br/>
            <label form="address">Address : </label>
            <textarea placeholder="Your shipping address so they can come murder you" name="address"></textarea>
            <br/><br/>
            <button type="submit" class="btn btn-primary">Sign me the fuck up</button>
          </form>
          <br/><br/><br/><br/>

        </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>
