{% extends 'base.html' %}

    {% block content %}
    {% import "bootstrap/wtf.html" as wtf %}

    <br/><br/>

    <div class="container">
    <a data-toggle="modal" data-target="#createGroup"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg></a><span>Add new group</span>
    <br/><br/>
      <div class="row">
        {% for group in groups %}
        <br/><br/>
        <div class="col-lg">
            <div class="card santa-card">
                <div class="card-body" >
                <h5 class="card-title">{{ group.name }}</h5>
                <br/>
                <div style="display: flex;" >
                  {% if group.is_admin(current_user) %}
                      <button class="santa-button"><a href="/groups?group_id={{ group.id }}">Manage</a></button> 
                      <br/>
                  {% endif %}
                    <br/>
                      <button class="santa-button leave-group" style="margin-left: 5px;" data-toggle="modal" data-target="#LeaveGroup">Leave</button>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

    <div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create new group</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <form method="POST" action="/groups">
          <div class="modal-body">
              <div class="form-group">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.name) }}
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="santa-button leave-group">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="LeaveGroup" tabindex="-1" role="dialog" aria-labelledby="LeaveGroupLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Leave this group?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
           <form method="POST" action="/my_groups">
          <div class="modal-body">
              <div class="form-group" id="leave_group_form">
                {{ leave_group_form.hidden_tag() }}
                <div id="expected_message"><strong></strong></div>
                <br/>
                {{ leave_group_form.group_name }}
                {{ wtf.form_field(leave_group_form.confirmation) }}
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="santa-button" disabled>Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>

    <script>
      let leave_group_buttons = document.querySelectorAll(".leave-group");
      leave_group_buttons.forEach(function(button){
        button.addEventListener("click", function(e){
          var modal_form = document.querySelector("#leave_group_form");
          var message_div = modal_form.querySelector("#expected_message");

          var group_name = e.target
          .parentElement
          .parentElement
          .querySelector("h5.card-title")
          .innerText;

          message_div.querySelector("strong").innerText = `I want to leave ${group_name}`;

        });
      });


      let leave_group_form = document.querySelector("#leave_group_form");
      let leave_group_form_button = leave_group_form
      .parentElement
      .parentElement
      .querySelector("button");
      let leave_group_form_confirmation = leave_group_form
      .querySelector("textarea");

      leave_group_form_confirmation.addEventListener("change", function(e){
        var typed_message = e.target.value;
        var expected_message = e.target
        .parentElement
        .parentElement
        .querySelector("#expected_message")
        .innerText;
        if(typed_message === expected_message){
          leave_group_form_button.disabled = false;
        }else{
          leave_group_form_button.disabled = true;
        }
      });

      leave_group_form_button.addEventListener("click", function(e){
        if(e.target.disabled === false){
          var group_name_div = leave_group_form.querySelector("input[name=group_name]");
          var group_name = e.target
          .parentElement
          .parentElement
          .querySelector("#expected_message")
          .innerText.slice(16,);

          group_name_div.value = group_name;

          leave_group_form
          .parentElement
          .parentElement
          .reportValidity();


          leave_group_form
          .parentElement
          .parentElement
          .submit();
        }
      });


    </script>

    {% endblock %}