{% extends 'base.html' %}
{% block content %}

{% if not_allowed %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{ not_allowed }}
</div>
{% else %}

{% if user %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="https://avatars.dicebear.com/api/croodles/{{user.username}}.svg">
    </div>
    <div class="col-lg-6">
      <br /><br />
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>
      <p><strong>@{{ user.username }}</strong></p>
      <h2>Hint</h2>
      <p>{{ user.hint }}</p>
      <h2>Address</h2>
      <p>{{ user.address }}</p>
    </div>
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="https://avatars.dicebear.com/api/croodles/{{current_user.username}}.svg">
    </div>
    <div class="col-lg-6">
      <br /><br />
      <h2>Email</h2>
      <p>{{ current_user.email }}</p>
      <h2>Hint</h2>
      <p>{{ current_user.hint }}</p>
      <h2>Address</h2>
      <p>{{ current_user.address }}</p>
      <a href="/edit_profile"><button class="santa-button">Edit</button></a>
    </div>
  </div>
</div>
{% endif %}

{% endif %}
{% endblock %}

</html>